apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: alloy-metrics
data:
  config.alloy: |
    prometheus.remote_write "mimir" {
      endpoint {
        url = "http://mimir-gateway.mimir.svc.cluster.local/api/v1/push"
        headers = {
          "X-Scope-OrgID" = "pods",
        }
      }
    }

    discovery.kubernetes "nodes" {
      role = "node"
    }

    prometheus.scrape "kubelet" {
      targets         = discovery.kubernetes.nodes.targets
      scrape_interval = "30s"
      scheme          = "https"

      tls_config {
        ca_file = "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
      }

      bearer_token_file = "/var/run/secrets/kubernetes.io/serviceaccount/token"

      relabel_configs {
        rule {
          target_label = "__address__"
          replacement  = "kubernetes.default.svc:443"
        }

        rule {
          source_labels = ["__meta_kubernetes_node_name"]
          target_label  = "__metrics_path__"
          replacement   = "/api/v1/nodes/$1/proxy/metrics"
        }

        rule {
          action = "labelmap"
          regex  = "__meta_kubernetes_node_label_(.+)"
        }
      }

      forward_to = [prometheus.remote_write.mimir.receiver]
    }

    prometheus.scrape "kubelet_cadvisor" {
      targets         = discovery.kubernetes.nodes.targets
      scrape_interval = "30s"
      scheme          = "https"

      tls_config {
        ca_file = "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
      }

      bearer_token_file = "/var/run/secrets/kubernetes.io/serviceaccount/token"

      relabel_configs {
        rule {
          target_label = "__address__"
          replacement  = "kubernetes.default.svc:443"
        }

        rule {
          source_labels = ["__meta_kubernetes_node_name"]
          target_label  = "__metrics_path__"
          replacement   = "/api/v1/nodes/$1/proxy/metrics/cadvisor"
        }

        rule {
          action = "labelmap"
          regex  = "__meta_kubernetes_node_label_(.+)"
        }
      }

      forward_to = [prometheus.remote_write.mimir.receiver]
    }

    prometheus.operator.podmonitors "primary" {
      forward_to = [prometheus.remote_write.mimir.receiver]
      selector {
        match_labels = { instance = "primary" }
      }
    }

    prometheus.operator.servicemonitors "primary" {
      forward_to = [prometheus.remote_write.mimir.receiver]
      selector {
        match_labels = { instance = "primary" }
      }
    }