alloy:
  configMap:
    create: false
    name: alloy-config
    key: config.alloy

rbac:
  create: true
  rules: []
  clusterRules:
    - apiGroups: ["", "discovery.k8s.io", "networking.k8s.io"]
      resources: ["endpoints", "endpointslices", "ingresses", "pods", "services", "namespaces", "nodes", "nodes/proxy", "nodes/metrics", "nodes/stats", "configmaps", "secrets", "events"]
      verbs: ["get", "list", "watch"]
    - apiGroups: ["apps", "extensions"]
      resources: ["replicasets", "daemonsets", "deployments", "statefulsets"]
      verbs: ["get", "list", "watch"]
    - apiGroups: ["batch"]
      resources: ["cronjobs", "jobs"]
      verbs: ["get", "list", "watch"]
    - apiGroups: ["monitoring.grafana.com"]
      resources: ["podlogs"]
      verbs: ["get", "list", "watch"]
    - apiGroups: ["monitoring.coreos.com"]
      resources: ["prometheusrules", "podmonitors", "servicemonitors", "probes", "scrapeconfigs"]
      verbs: ["get", "list", "watch"]
    - nonResourceURLs: ["/metrics"]
      verbs: ["get"]

serviceAccount:
  create: true
  name: alloy-metrics
  automountServiceAccountToken: true

controller:
  type: 'daemonset'