apiVersion: v1
kind: Service
metadata:
  name: world-service
  namespace: hyplex-world
  annotations:
    metallb.universe.tf/loadBalancerIPs: 10.1.50.181
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: world-service
