apiVersion: v1
kind: Service
metadata:
  name: world-service
  namespace: hyplex-world
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: world-service
