globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

metrics:
  prometheus:
    enabled: true
    entryPoint: metrics
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        instance: primary

deployment:
  enabled: true
  replicas: 3
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers: []

ports:
  web-int:
    port: 8000
    exposedPort: 80
    expose:
      default: true
    redirections:
      entryPoint:
        to: websecure
        scheme: https
  websecure-int:
    port: 8443
    exposedPort: 443
    expose:
      default: true
    tls:
      enabled: true
  metrics-int:
    port: 9100
    expose:
      default: true
    exposedPort: 9100
    protocol: TCP

providers:
  kubernetesCRD:
    enabled: true
    #allowCrossNameServices: true
    ingressClass: traefik-internal
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false
rbac:
  enabled: true
service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: 10.1.50.176
  loadBalancerSourceRanges: []
  externalIPs: []