apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cert-job.yaml
  - namespace.yaml
helmCharts:
  - name: zitadel
    version: "9.16.0"
    repo: https://charts.zitadel.com
    releaseName: zitadel
    valuesFile: zitadel-values.yaml
    namespace: zitadel
  - name: postgresql
    version: "18.1.0"
    repo: https://charts.bitnami.com/bitnami
    releaseName: postgres
    valuesFile: postgres-values.yaml
    namespace: zitadel