apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cert-job.yaml
  - namespace.yaml
  - serviceaccount.yaml
helmCharts:
  - name: zitadel
    version: "9.16.0"
    repo: https://charts.zitadel.com
    releaseName: zitadel
    valuesFile: values.yaml
    namespace: zitadel
