fullnameOverride: postgres
global:
  storageClass: longhorn
volumePermissions:
  enabled: true
tls:
  enabled: true
  certificatesSecret: postgres-cert
  certFilename: "tls.crt"
  certKeyFilename: "tls.key"
auth:
  existingSecret: "zitadel-secret"
primary:
  persistence:
    size: 5Gi

image:
  registry: docker.io
  repository: bitnamilegacy/postgresql