replicaCount: 3
zitadel:
  masterkeySecretName: zitadel-secret
  configSecretName: zitadel-secret-config
  configmapConfig:
    ExternalSecure: true
    ExternalDomain: accounts.vngenterprise.com
    TLS:
      Enabled: false
    Database:
      Postgres:
        Host: zitadel-rw.zitadel-db.svc.cluster.local
        Port: 5432
        Database: zitadel
        MaxOpenConns: 20
        MaxIdleConns: 10
        MaxConnLifetime: 30m
        MaxConnIdleTime: 5m
        User:
          Username: postgres
          SSL:
            Mode: disable
        Admin:
          Username: postgres
          SSL:
            Mode: disable
ingress:
  enabled: false
login:
  enabled: false

serviceAccount:
  create: true
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/hook-weight: "0"

  name: "zitadel"

env:
  - name: ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: zitadel-db-credentials
        key: password
  - name: ZITADEL_DATABASE_POSTGRES_PASSWORD
    valueFrom:
      secretKeyRef:
        name: zitadel-db-credentials
        key: password
