replicaCount: 3
zitadel:
  masterkeySecretName: zitadel-secret
  configSecretName: zitadel-secret-config
  configmapConfig:
    ExternalSecure: true
    ExternalDomain: accounts.vngenterprise.com
    TLS:
      Enabled: false
    Database:
      Postgres:
        Host: zitadel.zitadel-db.svc.cluster.local
        Port: 5432
        Database: zitadel
        MaxOpenConns: 20
        MaxIdleConns: 10
        MaxConnLifetime: 30m
        MaxConnIdleTime: 5m
        User:
          Username: zitadel
          SSL:
            Mode: disable
        Admin:
          Username: postgres
          SSL:
            Mode: disable
ingress:
  enabled: false
login:
  enabled: false