replicaCount: 3
zitadel:
  masterkeySecretName: zitadel-secret
  configSecretName: zitadel-secret-config
  configmapConfig:
    ExternalSecure: true
    ExternalDomain: accounts.vngenterprise.com
    TLS:
      Enabled: false
    Database:
      Postgres:
        Host: postgres
        Port: 5432
        Database: zitadel
        MaxOpenConns: 20
        MaxIdleConns: 10
        MaxConnLifetime: 30m
        MaxConnIdleTime: 5m
        User:
          Username: zitadel
          SSL:
            Mode: verify-full
        Admin:
          Username: postgres
          SSL:
            Mode: verify-full
  dbSslCaCrtSecret: postgres-cert
  dbSslAdminCrtSecret: postgres-cert
  dbSslUserCrtSecret: zitadel-cert
ingress:
  enabled: false
login:
  enabled: false