apiVersion: v1
kind: Service
metadata:
  name: leaderboard-service
  namespace: hyplex-leaderboard
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: leaderboard-service
