apiVersion: v1
kind: Service
metadata:
  name: chat-service
  namespace: hyplex-chat
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: chat-service
