apiVersion: v1
kind: Service
metadata:
  name: matchmaking-service
  namespace: hyplex-matchmaking
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: matchmaking-service
