apiVersion: v1
kind: Service
metadata:
  name: player-profile-service
  namespace: hyplex-player-profile
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: player-profile-service
