apiVersion: v1
kind: Service
metadata:
  name: moderation-service
  namespace: hyplex-moderation
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: moderation-service
