apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-ingress
  namespace: grafana
  annotations:
    kubernetes.io/ingress.class: traefik-internal
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.vngenterprise.com`)
      kind: Rule
      services:
        - name: grafana
          port: 80
  tls:
    store:
      name: default
      namespace: traefik