apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: rustlens
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      imagePullSecrets:
        - name: github-pull-secret
      containers:
        - name: worker
          image: ghcr.io/vanguard-enterprise/rustlens-agent-worker:835bdfa673a78856f1e383a71ec34ddc0f545b34
          envFrom:
            - secretRef:
                name: rustlens-secrets
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"