redisOperator:
  imagePullPolicy: IfNotPresent
  metrics:
    enabled: true
    bindAddress: ":8080"

resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 256Mi

replicas: 1
