apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: k8s-cpu-recording-rules
  namespace: alloy-metrics
  labels:
    alloy_rules: pods
spec:
  groups:
    - name: k8s.rules
      rules:
        - record: node_namespace_pod_container:container_cpu_usage_seconds_total:sum_irate
          expr: sum by (namespace, pod, container) (rate(container_cpu_usage_seconds_total{job="kubelet", image!="", container!=""}[5m]))