apiVersion: v1
kind: Service
metadata:
  name: anti-cheat-service
  namespace: hyplex-anticheat
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: anti-cheat-service
