apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: hyplex-notification
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: notification-service
