apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: external-secrets
    version: 0.20.4
    repo: https://charts.external-secrets.io/
    releaseName: external-secrets
    namespace: external-secrets
    valuesFile: values.yaml
resources:
  - namespace.yaml
