installCRDs: true

serviceAccount:
  create: true
  name: external-secrets

rbac:
  create: true

logLevel: info

serviceMonitor:
  enabled: false

webhook:
  serviceMonitor:
    enabled: false

certController:
  serviceMonitor:
    enabled: false