installCRDs: true

serviceAccount:
  create: true
  name: external-secrets

rbac:
  create: true

logLevel: info

serviceMonitor:
  enabled: true
  interval: 30s
  scrapeTimeout: 25s
  additionalLabels:
    instance: primary

webhook:
  serviceMonitor:
    enabled: true
    interval: 30s
    scrapeTimeout: 25s
    additionalLabels:
      instance: primary

certController:
  serviceMonitor:
    enabled: true
    interval: 30s
    scrapeTimeout: 25s
    additionalLabels:
      instance: primary