apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - default-store.yaml
  - rustlens-store.yaml
  - ingressclass.yaml
helmCharts:
  - name: traefik
    version: "38.0.2"
    repo: https://helm.traefik.io/traefik
    releaseName: traefik
    valuesFile: values.yaml
    namespace: traefik