apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - default-store.yaml
  - rustlens-store.yaml
  - mimir-oauth2-proxy-secret.yaml
  - mimir-oauth2-proxy.yaml
  - mimir-oauth2-proxy-route.yaml
helmCharts:
  - name: traefik
    version: "37.3.0"
    repo: https://helm.traefik.io/traefik
    releaseName: traefik
    valuesFile: values.yaml
    namespace: traefik