apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - servicemonitor.yaml
  - prometheusrule.yaml
  - vault.vngenterprise.com.yaml
helmCharts:
  - name: vault
    version: "0.31.0"
    repo: https://helm.releases.hashicorp.com
    releaseName: vault
    valuesFile: values.yaml
    namespace: vault
