apiVersion: v1
kind: Service
metadata:
  name: game-server-manager
  namespace: hyplex-gsm
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: game-server-manager
