apiVersion: v1
kind: Service
metadata:
  name: lobby-service
  namespace: hyplex-lobby
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: lobby-service
