apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: hyplex-analytics
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: analytics-service
