apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - prometheusrule.yaml
helmCharts:
  - name: traefik-crds
    version: "1.13.1"
    repo: https://helm.traefik.io/traefik
    releaseName: traefik-crds
    namespace: traefik