apiVersion: v1
kind: Service
metadata:
  name: configuration-service
  namespace: hyplex-configuration
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: configuration-service
