---
apiVersion: v1
kind: Service
metadata:
  name: netbird-dashboard
  namespace: netbird
spec:
  selector:
    app: netbird-dashboard
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: netbird-server
  namespace: netbird
spec:
  selector:
    app: netbird-server
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: netbird-stun-lb
  namespace: netbird
  annotations:
    metallb.universe.tf/loadBalancerIPs: 10.1.50.180
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app: netbird-server
  ports:
    - name: stun-udp
      port: 3478
      protocol: UDP
      targetPort: 3478
