apiVersion: v1
kind: Service
metadata:
  name: store-service
  namespace: hyplex-store
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: store-service
