installCRDs: false
crds:
  enabled: true
replicaCount: 3
extraArgs:
  - --dns01-recursive-nameservers=1.1.1.1:53,9.9.9.9:53
  - --dns01-recursive-nameservers-only
podDnsPolicy: None
podDnsConfig:
  nameservers:
    - 1.1.1.1
    - 9.9.9.9

prometheus:
  enabled: true
  servicemonitor:
    enabled: true
    namespace: cert-manager
    labels:
      instance: primary
    interval: 60s
    scrapeTimeout: 30s
    path: /metrics