apiVersion: v1
kind: Service
metadata:
  name: party-service
  namespace: hyplex-party
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: party-service
