apiVersion: v1
kind: Service
metadata:
  name: economy-service
  namespace: hyplex-economy
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: economy-service
